name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version. (e.g. v9.90.x)'
        required: true

env:
  VERSION: ${{ github.event.inputs.version }}

jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Initialize git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
      - name: Create Release Branch
        run: git checkout -b release/${{ github.event.inputs.version }}
      - name: Commit (for test)
        run: |
          touch ${{ github.event.inputs.version }}.txt
          git add ${{ github.event.inputs.version }}.txt
          git commit --message "Add ${{ github.event.inputs.version }}.txt"
      - name: Push Release Branch
        run: git push origin release/${{ github.event.inputs.version }}
      - name: Create Pull Request Into master
        uses: peter-evans/create-pull-request@v4.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: release/${{ github.event.inputs.version }}
          base: master
          title: 'Release/${{ github.event.inputs.version }} to master'
          body: |
            Created by Github Actions
            $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID
            
            ## Release
            
            need to merge after deployment on production.
