name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version. (e.g. v9.90.x)'
        required: true

env:
  VERSION: ${{ github.event.inputs.version }}

jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Initialize git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
      - name: Create Release Branch
        run: git checkout -b release/$VERSION
      - name: Commit (for test)
        run: |
          touch $VERSION.txt
          git add $VERSION.txt
          git commit --message "Add $VERSION.txt"
      - name: Push Release Branch
        run: git push origin release/$VERSION
      - name: Create Pull Request Into main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -f -X POST "$GITHUB_API_URL/repos/$GITHUB_REPOSITORY/pulls" \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Content-Type: application/json" \
            --data "{
              \"title\": \"Release/$VERSION to main.\",
              \"body\": \"Created by Github Actions\n$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\n\n## Release\nneed to merge after deployment on production.\",
              \"head\": \"release/$VERSION\",
              \"base\": \"main\"
            }"
